.my-itineraries {
  padding: var(--spacing-ref);
  background-color: var(--light);
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-soft);
}

.my-itineraries h1 {
  font-family: var(--titleFont);
  color: var(--secondColor);
  text-align: center;
  margin-bottom: var(--spacing-ref);
}
