@import url("@src/variables.css");
.article-chr-middle-card {
  text-align: center;
}

article.card-container {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  justify-self: center;
  border-radius: 15px;
  margin: var(--padding-input);
  border: 1px var(--mainColor) solid;
}

article.card-container img {
  border-radius: 8px;
}

article.card-container section.article-chr-middle-card {
  padding: 1rem;
  text-align: left;
}

article.card-container section.article-chr-middle-card h2 {
  font-weight: bold;
}

.card-container-hotels {
  border-color: var(--veever-yellow);
}

.card-container-restaurants {
  border-color: var(--veever-pink);
}

.card-container-activities {
  border-color: var(--veever-blue);
}
