:root {
  --titleFont: "MontSerrat";
  --textFont: "Arial";

  --bckgColor: lightgrey;
  --mainColor: tomato;
  --secondColor: black;
  --aliceBlueColor: #f0f8ff;

  --light: white;
  --dark: black;

  --border-ref: 10px;
  --border-XL: calc(var(--border-ref) * 2);

  --spacing-ref: 1rem;
  --spacing-S: calc(var(--spacing-ref) * 0.5);

  --box-shadow-soft: 0px 0px 2px 2px #00000033;
}
