@font-face {
  font-family: "Poppins-Light";
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Acumin";
  src: url(./assets/fonts/AcuminProExtraCondensedSemibold/font.woff);
}

:root {
  --titleFont: "Acumin";
  --textFont: "Poppins-Regular";

  --font-size-ref: 1rem;

  --font-weight-S: 400;

  --bckgColor: #f8f9fa;
  --bckgColor-opacity: #f8f9facb;
  --bckgSecondColor: #ffd6c6ab;
  --bckgSecondColor-opacity: #ffd6c61c;
  --mainColor: #fb7a3f;
  --variantMainColor: #f59d3fe8;
  --secondColor: #4e4a4a;
  --thirdColor: #f74aa1;
  --thirdColor-opacity: #f74aa1c5;
  --gradientColor: linear-gradient(
    90deg,
    rgba(247, 74, 161, 1) 13%,
    rgba(245, 158, 63, 1) 100%
  );
  --shadow: #c8c8c8;
  --aliceBlueColor: #f0f8ff;
  --border-color-input-focus: #3399ff;
  --errorColor: rgba(255, 0, 0, 0.753);
  --color-input: #1c2025;
  --color-label: rgba(0, 0, 0, 0.87);
  --bckgColor-input: #fff;
  --light: white;
  --dark: black;

  --border-ref: 8px;
  --border-XL: calc(var(--border-ref) * 2);
  --border-input: 1px solid #dae2ed;
  --border-weight: 1px;

  --spacing-ref: 1rem;
  --spacing-S: calc(var(--spacing-ref) * 0.5);

  --spacing-letter-ref: 1px;

  --padding-input: 8px 12px;
  --margin-input-form: 0px 0px 6.4px;

  --box-shadow-input-focus: 0 0 0 3px #80bfff;
  --box-shadow-input: 0 2px 2px #f3f6f9;
  --box-shadow-soft: 0px 2px 7px 1px #00000033;

  --width-input-form: 20rem;
  --width-label-text: 40ch;
  --height-input-form: 2.5rem;
}
