@import url("@src/variables.css");

.swiper-header {
  margin: var(--spacing-ref);
  border-radius: calc(var(--border-ref) * 2);
  box-shadow: var(--box-shadow-soft);
}

.logo-swiper {
  width: 30%;
}
.card-map {
  display: grid;
  padding: calc(var(--spacing-ref) * 1);
  justify-content: center;
}

.swiper-container {
  background-color: var(--bckgSecondColor);
  border-radius: calc(var(--border-ref) * 2);
  padding: 1rem;
  grid-row: 1;
  grid-column: 1;
}

.swiper-card {
  border-radius: calc(var(--border-ref) * 1.3);
  border: calc(var(--border-weight) * 2) solid;
  border-color: var(--mainColor);
}

.img-swiper {
  margin: auto;
  width: 100%;
  height: 70vh;
  cursor: grab;
  border-radius: calc(var(--border-ref) * 1.2);
  &:active {
    cursor: grabbing;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.swiper-btn {
  font-size: calc(var(--font-size-ref) * 1.5);
  background-color: unset;
  border: none;
  cursor: pointer;
  letter-spacing: var(--spacing-letter-ref);
}

.swiper-btn a {
  text-decoration: none;
}

.info p {
  padding: var(--spacing-ref);
}
