@import url("@src/variables.css");

section.blog {
  font-family: var(--textFont);
  padding: var(--spacing-ref);
}

section.blog h3 {
  text-align: center;
  font-family: var(--titleFont);
  font-weight: bold;
  font-size: calc(var(--font-size-ref) * 2);
}

section.blog article {
  text-align: center;
  background-color: var(--bckgColor);
  justify-content: center;
  border-radius: calc(var(--border-ref) * 2);
  margin: var(--spacing-ref);
}

section.blog article img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

section.blog article h4 {
  font-family: var(--titleFont);
}

section.blog article a {
  text-decoration: none;
  color: var(--secondColor);
}
