@import url("@src/variables.css");

.versus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versus-container p:last-of-type {
  display: none;
}

.versus-container p {
  text-align: center;
}

.tag-img-container {
  display: grid;
}

.over-text,
.versus-img {
  grid-row: 1;
  grid-column: 1;
}

.tag-container {
  height: 50vh;
}

.versus-card {
  font-family: var(--textFont);
  width: 90%;
  font-size: medium;
  background-color: var(--light);
  border: solid 1px var(--bckgColor);
  border-radius: 15px;
  box-shadow: 8px 8px 8px var(--shadow);
  padding: var(--spacing-ref);
}

.versus-card.selected {
  border: 2px solid #ff6347;
}

.over-text p {
  font-family: var(--textFont);
  font-size: 1rem;
  color: var(--secondColor);
}

.versus-card img {
  width: 100%;
  border-radius: calc(var(--border-ref) * 2);
}

#calque_1 {
  width: 20%;
}
