@import url("@src/variables.css");
.catalog-filter-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: var(--border-ref);
  text-align: center;
  margin-top: var(--border-ref);
  max-width: calc(var(--spacing-ref) * 25);
}
.emoji {
  font-size: calc(var(--font-size-ref) * 3);
}
.catalog-filter-section h2 {
  font-size: calc(var(--font-size-ref) * 1.5);
  font-family: var(--titleFont);
  margin: var(--spacing-ref);
  text-align: center;
}

.catalog-filter-section p {
  font-size: calc(var(--font-size-ref) * 1.5);
  font-family: var(--titleFont);
  margin: var(--spacing-ref);
  text-align: center;
}

h2.date-card {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

button.button-throw-likes-away {
  background-color: var(--mainColor);
  padding: 1rem;
  border-radius: 15px;
  color: #fff;
  align-items: center;
  display: block;
  margin: 0 auto 1rem;
}
