@import url("@src/variables.css");
.box-bottom-stay {
  border: var(--border-input);
  border-radius: var(--border-ref);
  padding: var(--spacing-ref);
  margin: var(--spacing-ref);
  display: inline-block;
  width: auto;
  text-align: center;
  font-size: var(--font-size-ref);
  box-shadow: var(--box-shadow-soft);
  cursor: pointer;
}
.other-informations {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-ref);
  margin: var(--spacing-ref);
  font-size: var(--font-size-ref);
}
.next-button {
  border: var(--border-input);
  border-radius: var(--border-ref);
  padding: var(--spacing-ref);
  width: auto;
  font-size: var(--font-size-ref);
  box-shadow: var(--box-shadow-soft);
  cursor: pointer;
  display: flex;
  margin: var(--spacing-ref) auto;
}

.other-informations label {
  padding: calc(var(--spacing-ref) * 0.5);
}
