@import url("@src/variables.css");
.card-map {
  padding: calc(var(--spacing-ref) * 2);
  display: grid;
  justify-content: center;
}

.img-swiper {
  margin: auto;
  width: 50%;
  height: 60vh;
  grid-row: 1;
  grid-column: 1;
  border-radius: 0.5rem;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
