@import url("@src/variables.css");

.newsLetter-container {
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url(./src/assets/images/BackGroundNewsLetter.png);
  border: 0px solid black;
  box-shadow: var(--box-shadow-soft);
  border-radius: var(--border-ref);
}

.newsLetter-container h3 {
  padding: var(--spacing-ref);
}

.offerNewsLetter {
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-soft);
  background-color: var(--bckgColor);
  margin: var(--spacing-ref);
  padding: var(--spacing-ref);
}

.newsLetter-btn {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: var(--mainColor);
  color: var(--light);
  padding: var(--spacing-ref);
  margin: var(--spacing-ref);
  border-radius: var(--border-ref);
  border: 0px solid;
  cursor: pointer;
}
