@import url("@src/variables.css");

.newsLetter-container {
  text-align: center;
  padding: var(--spacing-ref);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  background-image: url("./assets/images/BackGroundNewsLetter.png");
  border: 0px 0px 0px solid black;
  box-shadow: var(--box-shadow-soft);
  border-radius: var(--border-ref);
}

.email-container {
  padding: var(--spacing-ref);
}

.newsLetter-btn {
  background-color: var(--mainColor);
  color: var(--light);
  padding: var(--spacing-ref);
  margin: var(--spacing-ref);
  border-radius: var(--border-ref);
  border: 0px solid;
  cursor: pointer;
}
