@import url("@src/variables.css");
.chr-full-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chrCard {
  border-radius: var(--border-ref);
  box-shadow: 3px 2px 7px 1px #0000005e;
}
