@import url("@src/variables.css");

.chr-bottom-section {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-ref);
  border: var(--border-input);
  border-radius: var(--border-ref);
}

.type-select {
  width: 100%;
  font-size: var(--spacing-ref);
  padding: var(--spacing-ref);
  cursor: pointer;
  border-radius: calc(var(--border-ref) * 2);
  margin: var(--spacing-ref) 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: calc(var(--spacing-ref) * 1.25);
  padding: calc(var(--spacing-ref) * 0.5);
  text-align: left;
}

h1,
h2 {
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  box-shadow: 0px 10px 14px -7px rgba(173, 50, 80, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(247, 140, 160, 1) 5%,
    rgba(245, 105, 145, 1) 100%
  );
  background-color: rgba(247, 140, 160, 1);
  border-radius: calc(var(--border-ref) * 1.25);
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  font-size: calc(var(--font-size-ref) * 1.25);
  font-weight: bold;
  padding: calc(var(--spacing-ref) * 0.8) calc(var(--spacing-ref) * 2);
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(128, 30, 50, 0.5);

  &:hover {
    background: linear-gradient(
      to bottom,
      rgba(245, 105, 145, 1) 5%,
      rgba(247, 140, 160, 1) 100%
    );
    background-color: rgba(245, 105, 145, 1);
  }
}
