@import url("@src/variables.css");
.chr-top-section {
  text-align: center;
  padding: var(--spacing-ref);
  margin: var(--spacing-ref);
  width: 100%;
}
.date-card {
  padding: var(--spacing-ref);
  text-align: left;
  font-family: var(--textFont);
}
.button-throw-likes-away {
  font-size: 1.5rem;
  padding: var(--spacing-ref);
  cursor: pointer;
  border-radius: 15px;
}
.card-category {
  padding: var(--spacing-ref);
  font-size: 2rem;
  border: solid 2px black;
  margin: var(--spacing-ref);
  border-radius: 15px;
}
