@import url("@src/variables.css");
.img-catalog-card {
  border-radius: calc(var(--border-ref) / 2);
}
.article-chr-middle-card {
  text-align: center;
}

.card-container {
  justify-self: center;
  width: 80%;
  border-radius: var(--border-ref);
  margin: var(--padding-input);
  border: 4px solid;
}

.card-container-hotel {
  border-color: #ffea00;
}

.card-container-restaurant {
  border-color: #f26497;
}

.card-container-activities {
  border-color: #36a1db;
}
