@import url("@src/variables.css");
.catalog-filter-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: var(--border-ref);
  text-align: center;
  margin-top: var(--border-ref);
  max-width: calc(var(--spacing-ref) * 25);
  padding: calc(var(--spacing-ref) * 2);
}
.emoji {
  font-size: calc(var(--font-size-ref) * 4);
}
.catalog-filter-section h1,
p {
  font-size: calc(var(--font-size-ref) * 1.5);
  font-family: var(--titleFont);
  margin: var(--spacing-ref);
}
