@import url("@src/variables.css");

.socialLogin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  padding: 1rem;
}

.socialLogin li {
  list-style-type: none;
}

.socialLogin li button {
  background-color: var(--light);
  border-radius: 3px;
  box-shadow: var(--box-shadow-soft);

  border: none;

  height: 3rem;
  width: 5rem;
}
