@import url("@src/variables.css");

.loginForm label {
  display: none;
}

.loginForm input {
  margin-top: .5rem;
  padding-left: .25rem;

  height: 1.5rem;
  width: 100%;
}

.loginForm button {
  margin: 1rem 0;

  height: 1.5rem;
  width: 100%;

  background-color: var(--light);
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow-soft);
}

.loginForm button:hover {
  background-color: var(--bckgColor);
}

.errors {
  list-style-type: none;
}

.error {
  color: var(--errorColor);
  font-size: var(--font-size-XS);
}

.error::before {
  content: "❌ ";
}
