@import url("@src/variables.css");

.signUpBtn {
  width: 100%;
  height: 1.5rem;

  display: block;
  margin: 0 auto;

  background-color: var(--light);
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow-soft);
}

.signUpBtn:hover {
  background-color: var(--bckgColor);
}
