@import url("@src/variables.css");

.itineraries-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: var(--border-ref);
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-soft);
  background-color: var(--bckgColor);
  padding-bottom: var(--spacing-ref);
}

.card_image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-ref) var(--border-ref) 0 0;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-ref) * 2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: var(--spacing-ref);
}

.reserve-button {
  background-color: var(--mainColor);
  color: var(--light);
  padding: var(--spacing-ref);
  margin: auto;
  border-radius: var(--border-ref);
  border: 0rem solid;
  cursor: pointer;
}
