@import url("@src/variables.css");

.itineraries-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--bckgColorOrangeOpacity);
  border-radius: 15px;
}

.section-title {
  font-family: var(--titleFont);
  color: var(--secondColor);
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-soft);
  background-color: var(--bckgColor);
  padding-bottom: 1rem;
  border: 1px solid var(--mainColor);
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-ref) * 2.5);
}

.card-title {
  font-family: var(--titleFont);
  color: var(--secondColor);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

.reserve-button {
  width: 50%;
  align-items: left;
  background-image: var(--veever-gradient);
  font-weight: bold;
  color: var(--light);
  margin: 0 1rem;
  padding: var(--spacing-ref);
  border-radius: var(--border-ref);
  border: 0rem solid;
  cursor: pointer;
}
